<section id="about">
  <hr>
  <div class="about-header">
    <div class="face-img"><img src="/assets/img/face.jpg" alt="my face"></div>
    <h2>About Me</h2>

  </div>

  <div class="desc">
    <p>
      <span>Hi there! My name is <strong>Emanuel Mariano</strong> and I hereby welcome you to
      my webpage!<br/>
      In the past I studied Jazz Music and went to study Computer Engineering in
      university where I found a love for technologies altogether
      . I also love coffee!<br/>
      I'll be using this page as a case of my skills and also as a blog in the future
      where I'll be posting stuff I do and discover.</span>
    </p>
  </div>

  <div class="wrap">


    <div class="skills">
      <h2>Personal Skills</h2>
      <div class="sunit">
        <div class="slabel">Learning</div>
          <div class="sicons grade-9">
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
          </div>
      </div>
      <div class="sunit">
        <div class="slabel">Teaching</div>
          <div class="sicons grade-8">
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
          </div>
      </div>
      <div class="sunit">
        <div class="slabel">Planning</div>
          <div class="sicons grade-8">
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
          </div>
      </div>
      <div class="sunit">
        <div class="slabel">Organization</div>
          <div class="sicons grade-7">
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
          </div>
      </div>
      <div class="sunit">
        <div class="slabel">Design</div>
          <div class="sicons grade-4">
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
          </div>
      </div>
      <div class="sunit">
        <div class="slabel">Programming</div>
          <div class="sicons grade-7">
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
          </div>
      </div>
    </div>

      <div class="skills2">
        <h2 id="tk">Tech Skill Set</h2>
        <div class="sunit2">
          <div class="slabel">PHOTOSHOP</div>
            <div class="sicons grade-6">
              <span></span><span></span><span></span><span></span><span></span>
              <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="sunit2">
          <div class="slabel">HTML5</div>
            <div class="sicons grade-9">
              <span></span><span></span><span></span><span></span><span></span>
              <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="sunit2">
          <div class="slabel">CSS3 / SASS</div>
            <div class="sicons grade-8">
              <span></span><span></span><span></span><span></span><span></span>
              <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="sunit2">
          <div class="slabel">Ruby</div>
            <div class="sicons grade-6">
              <span></span><span></span><span></span><span></span><span></span>
              <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="sunit2">
          <div class="slabel">Ruby on Rails</div>
            <div class="sicons grade-3">
              <span></span><span></span><span></span><span></span><span></span>
              <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="sunit2">
          <div class="slabel">PHP</div>
            <div class="sicons grade-2">
              <span></span><span></span><span></span><span></span><span></span>
              <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
      </div>


  </div>


</section>
